<!doctype html>
<html lang=sv>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Historik - Fruktkartan</title>
<style>
 .op {
   font-weight: bold;
 }
 .type {
   font-style: italic;
 }

 .readable {
   max-width: 32em;
 }

 p.change {
   border-top: 1px solid lightgrey;
 }

 .bread {
   display: inline-block; /* to set max-width */
   font-size: smaller;
   max-width: 32em;
 }

 .delete {
   color: red;
 }
 .insert {
   color: green;
 }
 .update {
   color: orange;
 }

 .old {
   text-decoration: line-through;
 }
</style>
</head>
<body>

<p class="readable">
  Det finns {{ .Stats.TreeCount }} träd på <a href="https://fruktkartan.se/">fruktkartan.se</a> ({{ .Now }}).
</p>

<p class="readable">
  Nedan följer senaste {{ .SinceDays }} dagarnas ändringar. Under perioden
  lades {{ .Stats.Inserts }} träd till och {{ .Stats.Deletes }} togs bort
  (netto {{ .Stats.Net }}). {{ .Stats.Updates }} träd redigerades.
</p>

{{ range .History }}

<p class="change">
  {{ .ChangeAt }}

  {{ if eq .ChangeOp "DELETE" }}
  <span class="op delete">borttaget</span>
  <span class="type">{{ .Type }}</span>
  <a href="{{ .GeoURL }}" target="_blank" rel="noopener">nära</a>
  <span class="address">{{ .Address }}</span>
  <br/>
  <span class="bread old">beskrivning: {{ .Desc }}</span>
  <br/>
  <span class="bread old">redigerat: {{ .At }}</span>
  {{ end }}

  {{ if eq .ChangeOp "INSERT" }}
  <span class="op insert">nytt</span>
  <span class="type"><a href="https://fruktkartan.se/#/t/{{ .NewKey }}" target="_blank" rel="noopener">{{ .NewType }}</a></span>
  <a href="{{ .NewGeoURL }}" target="_blank" rel="noopener">nära</a>
  <span class="address">{{ .NewAddress }}</span>
  <br/>
  <span class="bread">beskrivning: {{ .NewDesc }}</span>
  {{ end }}

  <!-- TODO moved tree (but user currently can't do that)? -->
  <!-- TODO the image? -->

  {{ if eq .ChangeOp "UPDATE" }}
  <span class="op update">redigerat</span>
  <span class="type"><a href="https://fruktkartan.se/#/t/{{ .NewKey }}" target="_blank" rel="noopener">{{ .NewType }}</a></span>
  {{ if ne .Type .NewType }}<span class="old">typ:{{ .Type }}</span>{{ end }}
  <a href="{{ .NewGeoURL }}" target="_blank" rel="noopener">nära</a>
  <span class="address">{{ .NewAddress }}</span>
  <br/>
  <span class="bread">beskrivning: {{ .DescDiff }}</span>
  <br/>
  <span class="bread old">redigerat: {{ .At }}</span>
  {{ end }}
</p>

{{ end }}

</body>
</html>
