<!doctype html>
<html lang=sv>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>fruktsam</title>
<style>
 .op {
   font-weight: bold;
 }
 .type {
   font-style: italic;
 }

 .bread {
   display: inline-block; /* to set max-width */
   font-size: smaller;
   max-width: 32em;
 }

 .delete {
   color: red;
 }
 .insert {
   color: green;
 }
 .update {
   color: orange;
 }

 .old {
   text-decoration: line-through;
 }
</style>
</head>
<body>

{{ range .History }}

{{ if eq .ChangeOp "DELETE" }}
<p>
  <span class="">{{ .ChangeID }}</span>
  <span class="op delete">borttaget</span>
  <span class="type">{{ .Type }}</span>
  {{ .ChangeAt }}
  <a href="{{ .GeoURL }}" target="_blank" rel="noopener">nära</a>
  <span class="address">{{ .Address }}</span>
  <br/>
  <span class="bread old">
    beskrivning: {{ .Desc }}<br/>
    redigerat: {{ .At }}
  </span>
</p>
{{ end }}

{{ if eq .ChangeOp "INSERT" }}
<p>
  <span class="">{{ .ChangeID }}</span>
  <span class="op insert">nytt</span>
  <span class="type"><a href="https://fruktkartan.se/#/t/{{ .NewKey }}" target="_blank" rel="noopener">{{ .NewType }}</a></span>
  {{ .ChangeAt }}
  <a href="{{ .NewGeoURL }}" target="_blank" rel="noopener">nära</a>
  <span class="address">{{ .NewAddress }}</span>
  <br/>
  <span class="bread">
    beskrivning: {{ .NewDesc }}<br/>
  </span>
</p>
{{ end }}

<!-- TODO moved tree (but user currently can't do that)? -->
<!-- TODO the image? -->
{{ if eq .ChangeOp "UPDATE" }}
<p>
  <span class="">{{ .ChangeID }}</span>
  <span class="op update">redigerat</span>
  <span class="type"><a href="https://fruktkartan.se/#/t/{{ .NewKey }}" target="_blank" rel="noopener">{{ .NewType }}</a></span>
  {{ if ne .Type .NewType }}<span class="old">typ:{{ .Type }}</span>{{ end }}
  {{ .ChangeAt }}
  <a href="{{ .NewGeoURL }}" target="_blank" rel="noopener">nära</a>
  <span class="address">{{ .NewAddress }}</span>
  <br/>
  <span class="bread">
    beskrivning: {{ .DescDiff }}<br />
    <span class="old">redigerat: {{ .At }}</span><br/>
  </span>
</p>
{{ end }}

{{ end }}

</body>
</html>
